@charset "utf-8";
#wrap{
    width:630px;
    height:500px;
    margin:150px auto;
    border: 1px solid #ddd;
    background: skyblue;
}
#wrap-top span{
    display: inline-block;
    width:315px;
    height:55px;
    line-height: 55px;
    text-align: center;
    background: #F1F1F1;
    color: #d1d1d1;
    border: 1px solid #ccc;
}
#wrap p{
    font-size: 14px;
    line-height: 
}