//轮播图
body{
    position: relative;
}
#banner{
    width:480px;
    height:727px;
    overflow: hidden;
    position: relative; 
}
#imgbox{
    widh:9999px
}
#banner li img{
    width:480px;
}
#textbox{
    width:480px;
    height:800px;
    position: absolute;
    left:770px;
    background: #666;
}